html, body {
  height: 100%;
  width: 100%;
}
.chess_board {

	display: grid;
	grid-template-columns: repeat(10, 50px);
    grid-template-rows:  repeat(10, 50px);

}


.chess_board{
	font-size: 24pt;
	
}

